beautifulsoup4==4.12.2
click==8.1.7
Flask>=2.0
flask-sqlalchemy==3.1.1
flask-swagger-ui==3.36.0
itsdangerous==2.2.0
Jinja2==3.1.2
MarkupSafe==2.1.5
psycopg2-binary==2.9.9
redis==5.0.3
requests==2.31.0
SQLAlchemy==2.0.30
Werkzeug>=2.0
flask-cors
python-dotenv
streamlit 
pandas
gunicorn